// Settings Variables

$bubble-size-big: 200px;
$bubble-size-small: 100px;

$bubble-font-size-big: 40px;
$bubble-font-size-small: 20px;

$bubble-default-color: #FFFFFF;
$bubble-default-background: #1A1A1A;

$bubble-transition-duration: 0.5s;
$bubble-transition-time-function: ease-in;

$bubble-animate-duration: 1s;

$bubble-margin: 8%;