@import 'settings';
@import 'mixin';

/* -------------------- *\
 * Bubble default style *
\* -------------------- */
.bubble {
  transition: all $bubble-transition-duration $bubble-transition-time-function;
  transform: scale(1) skew(0deg) translate(0);
  width: $bubble-size-small;
  height: $bubble-size-small;
  border-radius: 100%;
  text-align: center;
  font-size: $bubble-font-size-small;
  display: inline-block;
  color: $bubble-default-color;
  background: $bubble-default-background;
  animation-duration: $bubble-animate-duration;
  animation-fill-mode: both;
  animation-name: zoomIn;
  margin: $bubble-margin;

  // Generate class [.bubble__content {...}]
  &__content {
    padding-top: 25%;
  }

  // Generate class [.bubble.is-active {...}]
  &.is-active {
    transform: scale(2) skew(0deg) translateY(-10px);
    @include transform-origin(center center);
  }
}

/* ----------------- *\
 * Animation loading *
\* ----------------- */
@include keyframes(zoomIn) {
  0% {
    opacity: 0;
    @include transform(scale(0.2) translate(0px));
  }

  50% {
    opacity: 1;
    @include transform(scale(1) skew(0deg) translateY(-10px));
  }
}